<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/assets/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <main class="wrapper">
      <section class="outer">
        <div class="inner">
          <header>
            <section class="logo">
            <img class="ribbon" src="/static/assets/images/HMW_ribbon.svg" />
            <div class="title">
              <h1>
                Homework <br />
                Tracker
              </h1>
              <h5 class="subhead">Created by Lucian</h5>
            </div>
          </header>
          <h3>What would you like to do?</h3>
          <p>
            <a class="login_link homework_link" href="/homework"
              ><img src="/static/assets/images/btn_ViewHW.svg" /> View
              Homework</a
            >
          </p>
          <br />
          <p>
            <a class="login_link add_link" href="/add"
              ><img src="/static/assets/images/btn_AddHW.svg" /> Add Homework</a
            >
          </p>
          <br />
          <p>
            <a class="login_link subject_link" href="/subject"
              ><img src="/static/assets/images/btn_ViewSubjects.svg" /> View
              Subjects</a
            >
          </p>
        </div>
      </section>
      </section>
    </main>
  </body>
</html>
